{
  "username": "{{ username }}",
  "name": "{{ username }}",
  "first_name": "{{ firstName }}",
  "last_name": "{{ lastName }}",
  "email": "{{ email }}",
  "url": "",
  "description": "",
  "locale": "en_US",
  "nickname": "{{ username }}",
  "roles": [
    "{{ role }}"
  ],
  "password": "{{ password }}"
}